td{
    vertical-align:top;
    border: 0 !important;
    background:#F7F7F7 !important;
}

table th
header{
    border:none;
    background-color:#07F !important;
}


section > p > img:nth-child(1){
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    border: 1px solid #DDD;
    box-shadow: 5px 5px 5px #CCC7;
    margin-bottom: 20px;
}

body > div > section > table:nth-child(4) > tbody > tr > td:nth-child(1) > img {
    min-width:438px;
}
